@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Satisfy&display=swap");

html {
  scroll-behavior: smooth;
}

:root {
  --blue1: rgba(74, 226, 226, 0.795);
  --blue2: rgb(11, 135, 167);
  --blue3: rgb(7, 86, 105);
  --blue4: rgb(4, 62, 70);
  --white1: rgb(206, 240, 241);
  --white2: rgb(188, 238, 240);
  --white3: rgb(226, 247, 250);
  --white4: rgb(255, 255, 255);
  --grey1: rgba(142, 191, 194, 0.575);
  --grey2: rgba(193, 241, 243, 0.774);
  --grey3: rgb(193, 241, 243);
  --grey4: rgba(82, 108, 109, 0.973);
  --footer: rgb(2, 27, 29);
  --transition: all 0.5s linear;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: content-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* =========
    Global  
   ========= */

main {
  min-height: 100vh;
  max-width: 100vw;
  margin: 0 0 1rem 0;
}
a {
  text-decoration: none;
}

img {
  height: 100%;
  width: 100%;
  min-height: 300px;
  min-width: 330px;
  max-height: 330px;
  object-fit: cover;
  object-position: center;
}
h1 {
  font-size: 3rem;
}
h1,
h2,
h3,
h4 {
  text-transform: capitalize;
  font-family: Roboto;
}

button {
  text-transform: capitalize;
}

p {
  font-family: Roboto;
  color: var(--grey4);
  letter-spacing: 1px;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

header {
  margin: 10px;
  padding: 5px;
}
.underline {
  width: 10rem;
  background-color: var(--blue3);
  height: 5px;
  margin: 0 auto;
}

.icon {
  font-size: 2.5rem;
  padding: 10px;
  border-radius: 50%;
  color: var(--blue4);
  background-color: var(--white1);
}

.img-container {
  position: relative;
}

@media screen and (max-width: 900px) {
  .price {
    font-size: 0.75rem;
  }
  p {
    font-size: 1rem;
  }
  span {
    font-size: 1.25rem;
  }
  h1 {
    font-size: 1.75rem;
  }
}

/* =========
    Loading 
   ========= */

.loading {
  width: 6rem;
  height: 6rem;
  margin: 0 auto;
  margin-top: 10rem;
  border-radius: 50%;
  border: 3px solid var(--grey1);
  border-top-color: var(--blue1);
  animation: spinner 0.6s linear infinite;
}

@keyframes spinner {
  0% {
    transform: rotate(360deg);
  }
}

/* =========
    Navbar 
   ========= */

.nav-bar {
  margin: 0 auto;
  width: 100%;
  background-color: var(--white1);
  box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.5);
}
.nav-center {
  margin: 0 4rem;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.user-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-family: "Satisfy", cursive;
  font-size: 1.7rem;
  color: var(--blue2);
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
}
.logo span {
  color: var(--blue3);
}

.btn {
  background-color: transparent;
  border-style: none;
  font-size: 1rem;
  margin: 0 0.5rem;
  padding: 2px;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  color: var(--blue3);
  font-weight: bolder;
  transition: var(--transition);
}

nav .btn {
  height: 4rem;
}

.cart-icon {
  position: relative;
}
.number-items {
  background-color: var(--blue2);
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translate(40px, -13px);
}

.total-items {
  color: white;
  font-size: 18px;
  font-weight: normal;
}

.btn:hover {
  background-color: var(--blue3);
  color: var(--white1);
  cursor: pointer;
}

.toggle-btn {
  display: none;
}

.user-btn {
  display: grid;
  place-items: center;
  grid-template-columns: auto auto;
  column-gap: 5px;
  font-size: 1.5rem;
}

.user-menu {
  display: none;
  min-height: 10vh;
  width: 15vw;
  background: var(--white4);
  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 5rem;
  left: 80%;
  transform: translateX(-50%);
  z-index: 999;
  padding: 2rem;
  border-radius: 0.4rem;
  transition: var(--transition);
}

.user-menu-toggle,
.user-menu-btn {
  height: 100%;
}

.user-menu::before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid var(--white4);
  position: absolute;
  top: -5px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;
}
.user-menu.show {
  display: block;
}

.user-menu-center {
  display: grid;
  place-items: center;
  grid-template-columns: auto;
  width: 100%;
}

@media screen and (max-width: 900px) {
  nav .links-container {
    display: none;
  }
  nav .user-container {
    display: none;
  }
  .toggle-btn {
    display: flex;
    height: 100%;
    font-size: 2rem;
    align-items: center;
    justify-content: center;
    transition: var(--transition);
  }
  .toggle-btn:hover {
    transform: rotate(90deg);
    background-color: transparent;
    color: var(--blue3);
  }
  .nav-center {
    margin: 0 1.5rem;
  }
  .number-items {
    transform: translate(65px, -7px);
  }
}

/* =========
    Sidebar 
   ========= */

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  transition: var(--transition);
  transform: translateX(-100%);
  overflow: hidden;
  z-index: 999;
}

.show-sidebar {
  transform: translateX(0);
}

.close-sidebar {
  position: fixed;
  top: 3vh;
  right: 3vw;
  color: red;
  font-size: 1.5rem;
  border-style: none;
  background-color: transparent;
}

.sidebar-center {
  background-color: var(--grey3);
  height: 90vh;
  width: 90vw;
  display: grid;
  grid-template-rows: 20vh 40vh;
  place-items: center;
  padding: 10px;
}

aside .links-container {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  width: 100%;
}

aside .user-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
}

/* =========
      Home 
   ========= */

.home-center {
  margin-top: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--white3);
  height: 100vh;
}

.start-page {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 20px;
  max-width: 70vw;
  margin: 5vh auto;
}

.shop-now {
  background-color: var(--blue2);
  border-style: none;
  color: white;
  height: 2.5rem;
  width: 10rem;
  padding: 5px;
  font-size: 2rem;
  border-radius: 0.25rem;
  transition: var(--transition);
  text-transform: capitalize;
}

.shop-now:hover {
  background-color: var(--blue3);
  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.2);
}

.page-info {
  display: grid;
  row-gap: 5px;
}

/* ============ */

.featured-products {
  display: grid;
  place-items: center;
  row-gap: 5px;
  background-color: var(--white4);
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
  column-gap: 5px;
  row-gap: 5px;
  place-items: center;
  max-width: 70vw;
}

.info-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.price {
  color: var(--blue3);
  font-weight: 650;
}

.img-overlay {
  display: flex;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  transition: var(--transition);
  opacity: 0;
}

.img-overlay:hover {
  opacity: 1;
}

.search-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.5rem;
  width: 2.5rem;
  color: white;
  outline: none;
  font-size: 1.2rem;
  border-style: none;
  border-radius: 50%;
  cursor: pointer;
  background-color: var(--blue2);
}

.all-products {
  background-color: var(--blue2);
  color: white;
  border-radius: 0.25rem;
  height: 1.75rem;
  padding: 0.5rem;
}

.all-products:hover {
  background-color: var(--blue3);
}

@media screen and (max-width: 900px) {
  .start-page {
    max-width: 90vw;
  }
  .grid-container {
    max-width: 100%;
  }
}

/* =========== */

.about-us {
  margin-top: 5px;
  padding: 15px;
  min-height: 50vh;
  background-color: var(--grey3);
  display: grid;
  place-items: center;
  grid-template-rows: 70px 70px auto;
}

.about-us .grid-container {
  flex-direction: row;
}

.vision,
.mission,
.history {
  display: flex;
  height: 300px;
  flex-direction: column;
  background-color: var(--blue2);
  align-items: center;
  justify-content: space-evenly;
  border-radius: 0.25rem;
  color: var(--blue4);
  padding: 10px;
  margin: 10px;
}
.vision p,
.mission p,
.history p {
  font-weight: 600;
  color: white;
}

/* ======
   Footer
   ====== */

footer {
  height: 5rem;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--footer);
}

/* ======
  Products
   ====== */
.product {
  max-height: 350px;
  width: 100%;
}

.products-header {
  display: flex;
  align-items: center;
  font-family: Roboto;
  height: 20vh;
  margin: 0;
  margin-top: 3px;
  background-color: var(--blue1);
}

.products-header span {
  color: var(--blue2);
  transition: var(--transition);
}

.products-header span:hover {
  color: var(--blue3);
}

.products-header h1 {
  color: var(--blue3);
}

.products-center {
  margin-top: 1.5rem;
  display: grid;
  grid-template-areas: "a b" "a c";
  min-height: 90vh;
}

.products-grid,
.products-list {
  grid-area: c;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 20px;
  column-gap: 10px;
}

.products-list {
  grid-template-columns: auto;
}

.product-grid {
  display: grid;
  max-width: 60vw;
  place-items: center;
  row-gap: 10px;
  column-gap: 10px;
}

@media screen and (min-width: 1000px) {
  .product-grid {
    grid-template-columns: 30% 70%;
  }
}

@media screen and (max-width: 1000px) {
  .products-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 768px) {
  .products-header {
    height: 5rem;
  }
  .products-grid {
    grid-template-columns: auto;
  }
}
/* ===========
   Filters bar
   =========== */

.config-bar {
  grid-area: a;
  padding: 2rem;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  display: grid;
  grid-template-rows: auto;
  row-gap: 1rem;
  height: 40vh;
  z-index: 3;
}

.categories {
  display: grid;
  row-gap: 5px;
  grid-template-rows: 1fr;
}

.category {
  height: 1.5rem;
  color: var(--blue3);
  border-style: none;
  font-weight: 650;
  font-family: Roboto;
  font-size: 1rem;
  text-align: left;
  background-color: transparent;
  cursor: pointer;
}

.search-input {
  height: 2rem;
  margin-bottom: 1rem;
  border-radius: 0.25rem;
  border-style: none;
  background-color: var(--grey2);
}

input::placeholder {
  font-size: 1rem;
  padding: 10px;
  font-family: Roboto;
  color: var(--blue3);
}

.companies,
.sort-options-menu {
  margin: 1rem 0;
  height: 1.5rem;
  border-radius: 0.25rem;
  width: 7rem;
}

.options {
  grid-area: b;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 6rem;
}

.options p {
  color: var(--grey4);
  font-weight: 550;
}

.options-btn {
  display: grid;
  grid-template-columns: auto auto auto;
  column-gap: 10px;
}

.sort-options {
  display: grid;
  place-items: center;
  grid-template-columns: auto auto;
  column-gap: 10px;
}

.show-list,
.show-grid {
  display: flex;
  align-items: center;
  color: var(--blue1);
  font-size: 1.5rem;
  border-style: none;
  text-align: center;
  background-color: transparent;
  transition: var(--transition);
}

.show-list:hover,
.show-grid:hover {
  color: var(--blue3);
  background-color: var(--grey1);
}

@media screen and (max-width: 800px) {
  .products {
    grid-template-columns: 1fr;
  }
  .config-bar {
    width: 8rem;
    padding: 0.5rem;
  }
  .config-bar .search-input {
    width: 7rem;
    height: 1.5rem;
  }

  .options {
    height: auto;
  }

  .categories button,
  h3,
  select,
  input,
  .options p {
    font-size: 0.85rem;
  }
}

@media screen and (max-width: 640px) {
  .products {
    grid-template-columns: 1fr;
  }
  .config-bar {
    width: 8rem;
  }
  .config-bar .search-input {
    width: 7rem;
    height: 1.5rem;
  }
  .categories button,
  h3,
  select,
  input,
  .options p {
    font-size: 0.75rem;
  }
}

/* ========
  SingleProduct
   ======== */

.product-container {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  min-height: 80vh;
  width: 80vw;
  place-items: center;
}
.product-img {
  height: 600px;
  width: 600px;
}

.single-product-center,
.product-info {
  display: grid;
  row-gap: 20px;
  margin: 10px;
}

.cart-btn {
  margin: 10px;
  display: grid;
  width: 12vw;
  grid-template-areas: "a b c" "d d d";
  place-items: center;
}

.increase,
.decrease,
.add-cart-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.75rem;
  font-weight: bold;
  border-style: none;
  background-color: transparent;
  transition: var(--transition);
}
.increase {
  grid-area: c;
}

.decrease {
  grid-area: a;
}

.cart-btn h1 {
  grid-area: b;
}
.increase:hover,
.decrease:hover,
.add-cart-btn:hover {
  color: white;
  background-color: var(--blue3);
}
.add-cart-btn {
  color: white;
  grid-area: d;
  font-size: 1rem;
  width: 100%;
  background-color: var(--blue2);
  height: 1.5rem;
  border-radius: 0.25rem;
}
.back-btn {
  background-color: var(--blue3);
  color: white;
  padding: 7px;
}
.back-btn:hover {
  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 1000px) {
  .product-container {
    margin: 0 auto;
    display: grid;
    grid-template-columns: auto;
  }
  .product-img {
    width: 100%;
    height: 100%;
  }
  .add-cart-btn {
    font-size: 0.75rem;
  }
  .back-btn {
    font-size: 0.75rem;
  }
}

/* ========
  Cart
======== */

.title {
  margin: 30vh auto;
  width: 100%;
  text-align: center;
  display: grid;
  grid-template-columns: auto;
  row-gap: 10px;
}

.cart {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 90vh;
  flex-direction: column;
}
.cart-list {
  margin: 0 auto;
  background-color: var(--white3);
}
.cart-item,
.cart-header,
.cart-footer {
  margin: 5px;
  width: 70vw;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  place-items: center;
  background-color: var(--grey3);
  border-radius: 0.4rem;
}

.cart-header,
.cart-footer {
  background-color: transparent;
}
.cart-footer {
  margin-top: 2rem;
}
.cart-item-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cart-btn-dec,
.cart-btn-inc,
.delete-item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  font-size: 1.5rem;
}

.cart-img {
  width: 70px;
  height: 70px;
  border-radius: 0.4rem;
  margin: 5px;
}

.total {
  font-size: 2rem;
}

.btn-container {
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 70vw;
}

.clear-cart-btn {
  background-color: rgb(156, 9, 9);
  color: white;
}

.clear-cart-btn:hover {
  background-color: rgb(75, 5, 5);
}
.clear-cart-btn,
.shopping-btn {
  width: 10rem;
}

/* =======
About
======= */
.underline-about {
  width: 7rem;
}

.about-us-header {
  display: grid;
  place-items: center;
}
